extends layout

block content
  h1= title

  form(id='eggForm', action="/resource/egg", method="POST")
    div.form-group
        label.eggAttr(for='egg_Itemname') egg Itemname
        input#egg_Itemname(type='text', name='egg_Itemname')
    div.form-group
        label.eggAttr(for='egg_Quantity') egg Quantity
        input#egg_Quantity(type='number', name='egg_Quantity')
    div.form-group
        label.eggAttr(for='egg_price') egg price
        input#egg_price(type='number', name='egg_price')
    input(type="submit")

  script.
    document.forms['eggForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });
