extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to view update
  else
    - let eggid = toShow._id
    - let egg_Itemname = toShow.egg_Itemname
    - let egg_Quantity = toShow.egg_Quantity
    - let egg_price = toShow.egg_price
  
    div.row(class='mb-2')
      div.mr-1 ID is
      div #{eggid}
    - let actionid = "/resource/egg/" + eggid
    form(id='eggForm', action= actionid, method="PUT")
      div.form-group
          label.eggAttr(for='egg_Itemname') egg Itemname
          input#egg_Itemname(type='text', name='egg_Itemname', value= egg_Itemname )
          div.form-group
          label.eggAttr(for='egg_Quantity') egg Quantity
          input#egg_Quantity(type='text', name='egg_price', value= egg_Quantity)
          div.form-group
          label.eggAttr(for='egg_price') egg price
          input#egg_price(type='number', name='egg_price', value= egg_price )
          input(type="submit")

  script.
    document.forms['eggForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      console.log(event.target)
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      });
    });